<header>
  <nav class="navbar bg-base-100 shadow-sm flex justify-between">
    <div class="px-2 mx-2">
      <span class="text-xl font-bold">eRecipes</span>
    </div>
    <div class="flex gap-2">
      <a class="btn btn-ghost hover:text-white" routerLink="recipes" routerLinkActive="btn-active"
        >Recipes</a
      >
      <a class="btn btn-ghost hover:text-white" routerLink="favorites" routerLinkActive="btn-active"
        >Favorites</a
      >
      @if (userService.getUser()) {
        <button class="btn btn-primary hover:text-white" routerLink="user">Profile</button>
        <button class="btn btn-error hover:text-white" (click)="userService.logout()">
          Logout
        </button>
      } @else {
        <button class="btn btn-primary hover:text-white" (click)="loginState.openModal()">
          Login
        </button>
      }
    </div>
  </nav>
</header>
